<?xml version="1.0"?>
<metaId>
  <onTable>
    <metaSystem id="STATISTICS">
      <links type="text/html" relation="statistics-homepage">
        <link px-lang="no" labelStringFormat="Statistikkens hjemmeside" urlStringFormat="https://www.ssb.no/{0}" />
        <link px-lang="en" labelStringFormat="Statistics homepage" urlStringFormat="https://www.ssb.no/en/{0}" />
      </links>
      <links type="text/html" relation="about-statistics">
         <link px-lang="no" labelStringFormat="Om statistikken" urlStringFormat="https://www.ssb.no/{0}#om-statistikken" />
         <link px-lang="en" labelStringFormat="About the statistics" urlStringFormat="https://www.ssb.no/en/{0}#om-statistikken" />
      </links>
    </metaSystem> 
  </onTable>
  <onVariable>
    <metaSystem id="urn:ssb:classification:klass">
       <links type="text/html" relation="definition-classification">   
         <link px-lang="no" labelStringFormat="Klassifikasjon for {0}." urlStringFormat="https://www.ssb.no/klass/klassifikasjoner/{0}" />
         <link px-lang="en" labelStringFormat="Classification for {0}." urlStringFormat="https://www.ssb.no/en/klass/klassifikasjoner/{0}" />
       </links>  
    </metaSystem>
    <metaSystem id="urn:ssb:conceptvariable:vardok">
      <links type="text/html" relation="definition-classification">   
         <link px-lang="no" labelStringFormat="Definisjon av {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/nb" />
         <link px-lang="en" labelStringFormat="Definition of {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/en" />
      </links>
    </metaSystem>
  </onVariable>
  <onValue>
    <metaSystem id="urn:ssb:conceptvariable:vardok">
      <links type="text/html" relation="definition-value">
        <link px-lang="no" labelStringFormat="Definisjon av {1} for vaiabel {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/nb" />
        <link px-lang="en" labelStringFormat="Definition of {1} for vaiable {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/en" />
      </links>
    </metaSystem>
    <metaSystem id="urn:ssb:contextvariable:common">
      <links type="text/html" relation="definition-value">
        <link px-lang="no" labelStringFormat="Definisjon av {1} (Kostra)." urlStringFormat="https://www.ssb.no/kompis/statbank/?id={0}&amp;ver={1}&amp;val={2}" />
        <link px-lang="en" labelStringFormat="Definition of {1} (Kostra)." urlStringFormat="https://www.ssb.no/kompis/statbank/?id={0}&amp;ver={1}&amp;val={2}" />
      </links>  
    </metaSystem>
  </onValue>
</metaId>
